
:root{
  --gradiente:linear-gradient(90deg, var(--azul-claro) 25%,var(--rosa-claro) 88%);
  --negro:black;
  --fuente-clara:#110038;
  --azul-claro:#4180f6;
  --rosa-claro: #F7C9F3;
  --rosa-active:#997D97;
  --texto-claro:#FFFFFF;
  --fondo-claro:#fff3fe;
  --gris-claro:#E6E6E6;
  --gris-lupa:#B4B4B4;
  --rojo-grabar:#FF6161;
  --boton-sugerido:#F0F0F0 100%;
  background: (var(--fondo-claro));
  --boton-nigth:#F0F0F0;
  --boton-day:#FFF4FD;
  overflow-y: scroll;
   overflow-x: hidden;
   --logo-azul:url(../imagenes/gifOF_logo.png);
}
body{
  width: 100% ;

}
.margenes{
  margin-left: 4em !important;
  margin-right: 4em !important;
}
.buscar{
  color: var(--gris-lupa);
  
}
.texto_inicio {
  bottom: 9px;
  right: 8px;
  position: relative;
  display: flex; 
  flex-direction: column;
  font-family: 'Chakra Petch', sans-serif;
  background: var(--gradiente);
  color: var(--fondo-claro);
  font-size: 12px;
  margin: 0px;
  padding: 3px;
  width: 100%;
  
}
button:focus{
  outline: none;
}
.botones-y-logo {
  margin-top: 2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          width: 100%;
}
 .img_logo {
  width: 5.3em;
  height: 2.8em;
  background-image: var(--logo-azul);
}
.img_logo_2{
  background-image:url(../imagenes/gifOF_logo_dark.png);
}
 .botones{ 
  width: fit-content;
  display: inline-flex;
  }
.caja-de-crear{
  border: groove;
  border-width: 1px;
  border-color: black;
  background: var(--rosa-claro);
  padding: 0.4em 1em 0.4em 1em;
  height: 21px;
  width: fit-content;
  margin: 0px;
  padding: 0.3em 1em 0.24em 1em;
}
.caja-de-crear:hover{
  background-color: var(--rosa-active);
  height: fit-content;

}
.boton-crear {
  
  text-decoration: none;
  color: var(--fuente-clara);
}
.boton-crear:hover{
 border: dashed;
 border-width: 1px;
}
.boton-crear:active{
  background-color: var(--rosa-active);
}
.contenedor-de-gif{
  
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-auto-flow: dense;
}
.gifos{
  height: 280px;
  width: 280px;
  border: outset;
  border-width: 2px 2px 2px 2px;


}
.gifos-2{
  
  height: 280px;
  width: 591px;
  border: outset;
  border-width: 2px 2px 2px 2px;

}
.elemento-2 {
  grid-column: auto / span 2;

}
.titulo-de-gif-con-x{
  margin: 0px;
  color:var(--texto-claro);
  height: 1em;
 
}
.titulo-de-gif{
  margin: 0px;
  color: transparent;
  background:transparent;
  position: absolute;
  margin-top: -1.6em;
  width: 14em;
}
.titulo-de-gif-2{
  margin: 0px;
  color: transparent;
  background:transparent;
  position: absolute;
  margin-top: -1.6em;

}
.elemento:hover .titulo-de-gif{
  color: var(--texto-claro);
  background:var(--gradiente);
  width: fit-content;

}
.elemento-2:hover .titulo-de-gif-2{
  color: var(--texto-claro);
  background:var(--gradiente);
  width: fit-content;

}
.botones_lista {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0em;
  list-style: none;
}
.caja-boton-tema{
  background: var(--rosa-claro);
  
  margin: 0px 1em;
  border: groove;
  border-width: 1px;
  height: 34px;
  border-color: black;
  font-family:'ChakraPetch-Regular';
  font-size: 1em;
  padding: 0px;
  
}
.caja-boton-tema:hover{
  background-color: var(--rosa-active);
}
.caja-boton-tema:active{
  background-color: var(--rosa-active);
}
.boton-tema {
  text-decoration: none;
  color: var(--fuente-clara);
  bottom: 0.5em;
  position: relative;
  list-style: none;
  margin: 12px;
 
}
.boton-tema:hover{
  border: dashed;
  border-width: 1px;
}
.boton-tema:active{
  border: dashed;
  border-width: 1px;
}
.sailor-day{
  border: groove;
  border-width: 1px;
  border-color:white black black black;
  background:var(--boton-day) !important;
  color: var(--fuente-clara);
  padding: 0.4em 1em 0.4em 1em;
  height: 29px;
  width: 139px;
  margin: 0px;
  margin: 4px;
  padding: 0.3em 1em 0.24em 1em;
}
.sailor-night{
  border: groove;
  border-width: 1px;
  border-color:white black black black;
  color: var(--fuente-clara);
  padding: 0.4em 1em 0.4em 1em;
  height: 29px;
  width: 139px;
  margin: 0px;
  margin: 4px;
  padding: 0.3em 1em 0.24em 1em;
  background-color:var(--boton-nigth);
}


 .flecha {
  text-decoration: none;
  list-style: none;
  position: relative;
  padding: 0.7em;
   border: groove;
   border-width: 0px 0px 0px 1px;
}
.flecha:active{
  border-color: black;
}
.menu_desplegable {
  BACKGROUND-COLOR: var(--boton-sugerido) ;
  width: 8.7em;
  margin: 0px 0px 0px 1em;
}
.menu_desplegable_none{
  display: none;
}
.tema-dia{
  margin-top: 0em;
  display: flex;
  align-content: center;
}
.tema-noche{
  margin-top: 0px;
  display: flex;
  align-content: center;
}
.mis-guifos {
  color: var(--fuente-clara);
  margin: 6px 0px 0px 0px;
  text-decoration: none;
  height: fit-content;
 
   
}
.mis-guifos:hover{
  border: solid;
  border-width: 1px;
  
}
.mis-guifos:active{
  border: none;
  color: var(--gris-claro);
}
.buscador {
  background-color: var(--boton-sugerido);
  color: var(--fuente-clara);
  height: min-content ;
  margin: 0px 6em;
 
}
.gradiente_buscador {
  background:  var(--gradiente);
  color: var(--fondo-claro);
  width: 100%;
}
.buscador_gris { 

    margin-bottom: 1em;
    margin-left: 1em;
    border: inset;
    height: 36px;
    font-size: 16px;
    width: 100% !important;
    font-family: ChakraPetch-Regular;
   
}
.boton-lupa{
  display: inline-flex;
  height: 25px;
  width: fit-content;
  margin: 0.6em 3em 0px 0.6em;
  padding: 0.3em 1em 0.24em;
  border: solid;
  border-width: 2px 1px 1px 1px;
  border-color: #808080 #808080 #808080 white;
  background-color: var(--boton-sugerido);
}
.buscador__inputs {
  display: flex;
  justify-content: space-between;
}
.txt-hoy-te-sugerimos{
  font-family: 'Chakra Petch', sans-serif;
  background-color: var(--rosa-claro);;
  border: inset;
  font-weight: 14px;
  width:99.5%;
  margin-top: 3em;
}
.txt-random{
  font-family: 'Chakra Petch', sans-serif;
  background-color: var(--rosa-claro);;
  border: inset;
  font-weight: 14px;
  width:99.5%;
  margin-top: 3em;
}
section.Random{
   margin: 0em 6em;
}
section.hoy-te-sugerimos {
  margin: 0em 6em;
}
.grilla{
  width: 284px;
}
.Ver-mas{
  position: absolute;
  margin-left: 0.5em;
  padding: 0.5em;
  background:var(--azul-claro);
  color: var(--texto-claro);
  font-family: 'ChakraPetch Regular';
  margin-top: -4em;
}
.Ver-mas:focus{
  outline: none;
}
.titulo-x{
  display: flex;
  background: var(--gradiente);
  justify-content: space-between;
  width: 284px;
    outline: none;
};
.boton_con_x{   
   padding: 0px;
  margin: 0px;
  background: transparent;
  border: none;
}
.boton_con_x:focus{
  border: none;
  outline: none; 
}
button.boton_con_x {
  background: transparent;
  outline: none;
  border: transparent;
}
nav.buscador {
  padding: 0px;
  margin: 0px;
}

button.boton_con_x {
  background: transparent;
  outline: none;
}
button#botoncajagris {
  display: flex;
  margin-right: 8em;
  font-size: 16px;
  color: black;
  height: 2em;
  margin-left: 1em;
  font-family: ChakraPetch-Regular;
  margin-bottom: 0.3em;
  background:var(--boton-sugerido);
  border: solid;
  border-color: white black black black;
  border-width: 1px;
}
.cajagrisdesplegable {
  background-color: var(--boton-sugerido);
  display: flex;
  flex-direction: column;
  border-top: white;
  border: solid;
  border-width: 1px 0px 0px 0px;
  padding-top: 1em;

}
div#contenedor-mis-gifos {
  display: flex;
  column-gap: 1em;
  flex-wrap: wrap;
  row-gap: 1em;
  justify-content: center;
}
/*-----------pagina gif---------------*/
 .fas{
   color: var(--fuente-clara);
   list-style: none;
   text-decoration: none;
 }
.margenes-gif{
    margin-left: 4em;
    margin-right: 4em;
}
 .imagen_logo{
    display: flex;
    flex-direction: row;
    height: 49px;
    margin-top: 4px;
 }
 .flecha-volver{
  text-decoration: none;
  list-style: none;
  padding: 13.5px;
  position: relative;
  bottom: 0.4em;
 } 
 .gradiente_gif {
  background: var(--gradiente);
  font-family:'Chakra Petch', sans-serif; ;
  color: var(--fondo-claro);
  width: 100%;
  margin: 0px;
  font-size: 14px;
  padding: 5px;
 }
.fondo-gris{
  background:var(--gris-claro);
  width: 687px;
  padding-bottom: 0.7em;
}
.contenedor-logo-texto-cuadrado{
  display: flex;
}
.logo-cuadrado{
  height: 32px;
  margin: 1em;
}
.crear-gif{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 5em;
 }
 .contenedor-creador{
  width:678px;
 }
 .propios-gif{
   margin-top: 25px;
 }
 .texto-de-crear-gif{
  margin: 1px 5em 1px 5em;
 }
 .lista-crear-tus-propios-gif{
   list-style:none;
   padding-left: 0px;
 }
 .botones-de-comenzar-y-cancelar{
   display: flex;
   flex-direction: row;
   margin-left: 50%;
   background-color:var (var(--fuente-clara)) ;
 }
 .comenzar{
   background-color: var(--rosa-claro);
   width: 144px;
   height: 36px;
   margin-left: 16px;
   font-size: 16px;
   font-family: 'ChakraPetch Regular';
   color:var(--fuente-clara);
   border: groove;
   border-width: 1px;
   border-color:var(--negro);

 }
 .cancelar{
  background-color: var(--rosa-claro);
  width: 143px;
  font-family: 'ChakraPetch Regular';
  color: var(--fuente-clara);
  border: groove;
  border-width: 1px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-color:var(--negro);
 
}
.capturar{
  background-color: var(--rosa-claro);
   width: 144px;
   height: 36px;
   margin-left: 16px;
   font-size: 16px;
   font-family: 'ChakraPetch Regular';
   color:var(--fuente-clara);
   border: groove;
   border-width: 1px;
   border-color:var(--negro);
   margin-right: 0.5em;
}
.caja_boton_capturar{
  justify-content: flex-end;
  display: flex; 
}
.pantalla-video{
  width: 40.4em;
}
.muestra-de-camara{
  display: none;
}
.caja_boton_grabar{
  display: none;
  justify-content: space-between;
}
.grabar{
  background-color: var(--rojo-grabar);
  width: 144px;
  height: 27px;
  margin-left: 16px;
  font-size: 16px;
  font-family: 'ChakraPetch Regular';
  color:var(--fuente-clara);
  border: outset;
  border-width:1px 0px 0px 1px;
  outline: solid;
  outline-width: 1px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  align-content: center;

  margin-top: 9px;
}
 .imagen_grabar{
   position: relative;
   right: 0.2em;
   padding: 3px;
   border:solid;
   border-width:0px 1px 0px 0px;
   }
.video-preview{
     display: none;
     width: 40.4em;
   }
.contador-numero{
    background: white;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 5px;
    margin-left: 1em;
    border: outset;
    margin-top: 9px;
}
.subir-gif{
  display: none;
  justify-content: flex-end;
}
.boton-subir-gif{
  background-color: var(--rosa-claro);
  width: 143px;
  font-family: 'ChakraPetch Regular';
  color: var(--fuente-clara);
  border: groove;
  border-width: 1px;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-color:var(--negro);
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.caja-subiendo{
  display: none;
  align-content: center;
  justify-content: center;
}
.contenido-subiendo{
  justify-content: center;
  display: inline-flex;
}
.contenido-subiendo-globo{
  justify-content: center;
  display: inline-flex;
  padding: 0px 6.5em;
}
#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: var(--gris-lupa);
}
#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: var(--rosa-claro);
}
u{ text-decoration-line: line-through;}

a.cancelar-subida {
  display: flex;
  color: var(--fuente-clara);
  text-decoration: none;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background: var(--fondo-claro);
}
.final-de-subida-botoncopiar{
  background-color: var(--fondo-claro);
  width: 159px;
  font-family: 'ChakraPetch Regular';
  color: var(--fuente-clara);
  border: groove;
  border-width: 1px;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-color: var(--negro);

  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.final-de-subida-botondescargar {
  background-color: var(--fondo-claro);
  width: 159px;
  font-family: 'ChakraPetch Regular';
  color: var(--fuente-clara);
  border: groove;
  border-width: 1px;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-color: var(--negro);

  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.listo{
  background-color: var(--rosa-claro);
  margin-left: 16px;
  font-size: 14px;
  font-family: 'ChakraPetch Regular';
  color: var(--fuente-clara);
  border: groove;
  border-width: 1px;
  border-color: var(--negro);
  text-decoration: none;
  align-content: center;
  padding: 0.4em;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}
.caja-listo{
  justify-content: end;
    align-content: end;
    display: grid;
    padding-right: 1em;
}
.caja-prefinalizacion{
  display: flex;
  flex-direction: column;
}
img.contenido-subiendo-globo {
  width: fit-content;
  align-content: center;
  padding-left: 125px;
}
.texto-prefinalizacion{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 2em;
}
.caja-del-boton-cancelar {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3em;
  margin-left: 32em;
}
p.mis-gifos {
  color: var(--fuente-clara);
  margin-left: 6em;
}